h1{
  color:chartreuse;
  font-family: 'Ole', cursive;
  }


p{
  text-transform: uppercase;
  position: relative;
  left:50%;
}

img{
  max-width: 10px;
}

#box {
  width: 200px;
  height: 100px;
  margin: 50px;
  position: relative;
  background-color: aqua;
  animation-name: move ;
  animation-duration:10s;
  animation-iteration-count: infinite;
  
}

@keyframes move {
  0% {
    background-color: blue;
    top: 0%;
    left:0%;
  }
  25% {
    background-color: green;
    top: 50%;
    left:25%;
  }
  50% {
    background-color: yellow;
    top: 100%;
    left: 0%;
  }
75%{
top: 50%;
left:-25%;
}
100%{
top: 0%;
left:0%;
}
}

