h1{
  background-color: darkorange;
  text-align: center !important;
  font-family: 'Are+You+Serious',cursive !important;
}
p{
  color: aliceblue;
  text-align: center !important;
  font-family: 'Moo+Lah+Lah', cursive !important;
}
body{
  background-color: darkblue 
}
h3{
  color: aliceblue !important;
  text-align: center;
  font-family: 'Moo+Lah+Lah', cursive !important;
}
@media screen and (max-width: 320px) {
  body {
    background-color: red;

  }
  p{
    font-size: small;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-color: blue;
  }
  h3{
    text-align: left;
  }
}
@media screen and (max-width: 1200px) {
  body {
    background-color: green;
  }
  h1{
    text-align:right;
  }
}